.selectedLayout {
  color: aliceblue;
  background-color: rgba(123, 125, 128, 0.418);
  transition: 1s ease all;
}

:global {
  .selectedPlaylist {
    color: aliceblue;
    background-color: rgba(84, 125, 187, 0.712);
    transition: 1s ease all;
  }

  // .areaStyles {
  //   &#areaWrapper {
  //     --x: 50%;
  //     --y: 50%;
  //     border: 2px solid transparent;
  //     background: linear-gradient(#000, #000) padding-box,
  //     radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
  //   }

  // } 
  // .AreaMagic {
  //   --x: 50%;
  //   --y: 50%;
  //   border: 5px solid transparent;
  //   background: linear-gradient(#000, #000) padding-box,
  //   radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
  // }
}