.selectedLayout {
  color: aliceblue;
  background-color: rgba(123, 125, 128, 0.418);
  transition: 1s ease all;
}

:global {
  .ant-table-tbody>tr.ant-table-row-level-0:hover>td {
    background: unset;
  }

  .selectedPlaylist {
    color: aliceblue;
    background-color: rgba(84, 125, 187, 0.712);
    transition: 1s ease all;
  }

  .area-wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .audio-checkbox {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .media-wrapper {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    &:hover {
        cursor: pointer;
        background-color: rgb(209, 69, 69);
        color: aliceblue;
    }
     :hover {
      cursor: pointer;
      background-color: rgb(209, 69, 69);
      color: aliceblue;
    }
  }

  .remove-btn:hover {
    cursor: pointer;
    background-color: rgb(209, 69, 69);
    color: aliceblue;
  }

  .selected-playlist {
    color: aliceblue;
    background-color: rgba(84, 125, 187, 0.712);
    transition: 1s ease all;

    &.ant-table-row &.ant-table-row-level-0 {
      &:hover {
        color: rgb(15, 15, 15);
        background-image: linear-gradient(135deg, #02aab0, #00cdac);
        transition: 1s ease all;
      }
    }

    &:hover {
      color: rgb(15, 15, 15);
      background-image: linear-gradient(135deg, #02aab0, #00cdac);
      transition: 1s ease all;
    }
  }

  .selected-media {
    color: aliceblue;
    background-color: rgba(84, 125, 187, 0.712);
    transition: 1s ease all;

    &.ant-table-row &.ant-table-row-level-0 {
      &:hover {
        color: rgb(15, 15, 15);
        background-image: linear-gradient(135deg, #02aab0, #00cdac);
        transition: 1s ease all;
      }
    }

    &:hover {
      color: rgb(15, 15, 15);
      background-image: linear-gradient(135deg, #02aab0, #00cdac);
      transition: 1s ease all;
    }
  }
  // .areaStyles {
  //   &#areaWrapper {
  //     --x: 50%;
  //     --y: 50%;
  //     border: 2px solid transparent;
  //     background: linear-gradient(#000, #000) padding-box,
  //     radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
  //   }

  // } 
  // .AreaMagic {
  //   --x: 50%;
  //   --y: 50%;
  //   border: 5px solid transparent;
  //   background: linear-gradient(#000, #000) padding-box,
  //   radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
  // }
}