@import '~antd/es/style/themes/default.less';

// Global LBA Styles
@lba-color-text: rgb(0, 0, 0);
@lba-background-image: linear-gradient(135deg, #cc7400, #ffbb00);
@lba-background-image-hover: linear-gradient(135deg, #fecf00, #e2d742);

@lba-table-hover-background: linear-gradient(135deg, #747474, #c5c5c5);
@lba-border-background-image: linear-gradient(135deg, #995905, #ffbb00);
@lba-icon-color: rgb(252, 206, 0);
@lba-color-text-hover: linear-gradient(135deg, #030200, #ffbb00);
@lba-icon-two-tone-color: #fda502;
@lba-icon-color-hover: #fca402;
@lba-form-label-text: linear-gradient(135deg, #995905, #ffbb00);
// Switch Styles
@lba-switch-background-image: linear-gradient(135deg, #a18b29, #ffee00);
@lba-switch-border-color: linear-gradient(135deg, #a18b29, #ffee00);

.main {
  width: 40%;
  margin: 0 auto;

  h2 {
    margin-bottom: 20px;
    color: aliceblue;
  }

  .password {
    margin-bottom: 24px;
    :global {
      .ant-form-item-explain {
        display: none;
      }
    }
  }

  .getCaptcha {
    display: block;
    width: 100%;
  }


  .prefixIcon {
      color: @primary-color;
      font-size: @font-size-base;
  }

  .login {
    float: right;
    line-height: @btn-height-lg;
    color: aliceblue;
  }

  .submit {
    width: 50%;
    height: 50px;
    position: relative;
    // border: 2px solid rgb(16, 223, 144);
    transition: all 0.3s ease;
    box-sizing: border-box;
    padding: 0px;
    font-weight: bold;
    float: left;
    :global {
      .submit-btn {
        width: 100%;
        height: 100%;
        // border: 2px solid rgb(16, 223, 144);
        border-style: solid;
        border-width: 2px;
        border-color: @lba-border-background-image;
        transition: all 0.3s ease;
        font-weight: bold;
        &:hover .register-btn-overlap {
          width:100%
        }

        &:hover .register-btn-text, .submit-btn {
          // background-image: linear-gradient(135deg, #f4f5f5, #f4f5f5);
          background-image: @lba-color-text-hover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // color: #f4f5f5;
        }
      }

      .register-btn-overlap {
        transition: all 0.3s ease;
        // background-image: linear-gradient(135deg, #02aab0, #00cdac);
        background-image: @lba-background-image;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: 1;
        font-weight: bold;
      }
      
      .register-btn-text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-image: linear-gradient(135deg, #02aab0, #00cdac);
        background-image: @lba-form-label-text;

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .google-icon {
          color: @lba-icon-color;
        }
      }
    }
  }

  .submit:hover .register-btn-overlap {
    width: 100%;
  }
  :global {
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-background-image;
    padding: 2em;
    transition: all 0.3s ease;
    font-weight: bold;
    .register-form-title {
      width: 100%;
      text-align: center;
    }
    border-radius: 5px; 

    
  }
}

.success,
.warning,
.error {
  transition: color 0.3s;
}

.success {
  color: @success-color;
}

.warning {
  color: @warning-color;
}

.error {
  color: @error-color;
}

.progress-pass > .progress {
  :global {
    .ant-progress-bg {
      background-color: @warning-color;
    }
  }
}
