@import '~antd/es/style/themes/default.less';

.main {
  width: 328px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
    max-width: 328px;
  }

  :global {
    .@{ant-prefix}-tabs-nav-list {
      margin: auto;
      font-size: 16px;
    }
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;
    .register {
      float: right;
    }
  }

  .prefixIcon {
    color: @primary-color;
    font-size: @font-size-base;
  }
}

@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.welcomeWrapper {
  :global {
    width: 80%;
    height: 100%;
    display: flex;
    // align-items: center;
    margin: 0 auto;
    justify-content: center;
    font-size: 2em;
    transition: all 0.3s ease;
    flex-direction: column;

    .welcome-wrapper {}

    .welcome-text-wrapper {}

    .signin-btn {
      width: 200px;
      height: 50px;
      transition: all 0.3s ease;
      position: relative;
      font-weight: bold;
      border: 2px solid rgb(16, 223, 144);

      &:hover>.sign-in-btn-overlap {
        width: 100%;
      }

      &:hover .sign-in-btn-text {
        background-image: linear-gradient(135deg, #f4f5f5, #f4f5f5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #f4f5f5;
      }

      .sign-in-btn-overlap {
        transition: all 0.3s ease;
        // background-color: linear-gradient(#02aab0, #00cdac, #02aab0);
        background-image: linear-gradient(135deg, #02aab0, #00cdac);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: 1;
        font-weight: bold;
      }
    }

    .sign-in-btn-text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(135deg, #02aab0, #00cdac);
      
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      .google-icon {
        color: #0ae7e7;
      }
    }

    .text-color-main {
      background-image: linear-gradient(135deg, #02aab0, #00cdac);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }

  }
}

