@lba-color-text: rgb(0, 0, 0);
@lba-background-image: linear-gradient(135deg, #fecf00, #e2d742);
.addNewPlaylistModal {
  :global {
    .steps-content {
      padding: 20px;
      margin-top: 16px;
      max-height: 600px;
      text-align: center;
      background-color: #fafafa;
      border: 1px dashed #e9e9e9;
      border-radius: 2px;
      overflow-y: scroll;
      overflow-x: visible;
    }

    .steps-action {
      margin-top: 24px;
      text-align: right;
    }
  }
}

:global {
  .row-dragging {
    transition: all 0.3s ease;
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-background-image;
    // color: aliceblue;
    color: @lba-color-text;
    position: relative;
    z-index: 2000;
  }

  .row-dragging td {
    padding: 16px;
    position: relative;
    z-index: 2000;
  }

  .row-dragging .drag-visible {
    visibility: visible;
    position: relative;
    z-index: 2000;
  }
}
.customTable {
  :global {
    .ant-table-tbody>tr:hover {
      transition: all 0.3s ease;
      // background-image: linear-gradient(135deg, #02aab0, #00cdac);
      background-image: @lba-background-image;
      // color: aliceblue;
      color: @lba-color-text;
    }
  }
  
}

.selectedRow {
  background-color: rgba(49, 49, 49, 0.7);
  font-size: 1.2em;
  font-weight: bolder;
  :global {
    color: white;
  }
}

.selectedPlaylistItem {
  background-color: rgb(97, 161, 235);
}

.activeRow {

  :hover {
    background-color: rgb(68, 67, 67);
  }
}

.activeRow :hover {
  background-color: rgb(42, 44, 44);
}
.customRow {
  color: rgb(41, 101, 190);
  font-weight: bolder;
  font-size: 1.2em;
  :hover {
    background-color: rgb(42, 44, 44);
  }
}

.customeRow :hover {
  background-color: rgb(42, 44, 44);
}


