@import '~antd/es/style/themes/default.less';

// Global LBA Styles
@lba-color-text: rgb(0, 0, 0);
@lba-background-image: linear-gradient(135deg, #fecf00, #e2d742);
@lba-table-hover-background: linear-gradient(135deg, #747474, #c5c5c5);
@lba-icon-color: rgb(252, 206, 0);
@lba-color-text-hover: rgb(252, 252, 252);
@lba-icon-two-tone-color: #fda502;
@lba-form-label-text: linear-gradient(135deg, #131313, #5e5e5e);

@lba-normal-btn-background-image: linear-gradient(135deg, #ffd900, #ffbb00);
// Switch Styles
@lba-switch-background-image: linear-gradient(135deg, #a18b29, #ffee00);
@lba-switch-border-color: linear-gradient(135deg, #a18b29, #ffee00);


html,
body,
#root {
  height: 100%;
  transition: all 0.3s ease;

  :global {
    // .row-dragging {
    //   background: rgb(48, 46, 46);
    //   border: 1px solid #ccc;
    //   position: relative;
    //   z-index: 2000;
    // }

    // .row-dragging td {
    //   padding: 16px;
    //   visibility: visible;
    // }

    // .row-dragging .drag-visible {
    //   visibility: visible;
    //   position: relative;
    //   z-index: 2000;
    // }
    .leaflet-default-icon-path {
      background-image: url('/src/assets/marker.png');
    }

    .receiver-row {
      .ant-table-row .ant-table-row-level-0 {
        background-color: rgba(219, 0, 0, 0.5);
      }

    }

    .sender-row {
      .ant-table-row .ant-table-row-level-0 {
        background-color: rgba(45, 240, 6, 0.5);
      }
    }

  }

  .modal-content {
    position: relative;
    max-height: 700px;
    padding: 20px;
    border-radius: 2px;
    z-index: 2000;
    overflow-y: scroll;
    overflow-x: visible;
  }

  .plus-trans-icon {
    color:rgb(3, 250, 36)
  }

  .minus-trans-icon {
    color: rgb(255, 0, 21);
  }

  .sign-media-icon {
    color:rgb(255, 187, 0)
  }
  .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    background: unset;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    background-image: @lba-background-image;
    color: @lba-color-text;

    &:hover {
      // border: 2px solid #ffbb55;
      color: #ffbb55;
      background-image: linear-gradient(135deg, #fdffff, rgba(253, 253, 255, 0.867));
    }
    .lba-icon {
      color: @lba-color-text;

      &:hover {
        color: @lba-icon-color;
      }
    }
  }
  .ant-btn .ant-input-search-button {
     box-sizing: border-box;
     font-weight: bold;
     position: relative;
     background-image: @lba-background-image;
     color: @lba-color-text;

     &:hover {
       border: 2px solid #ffbb55;
       color: #ffbb55;
       background-image: linear-gradient(135deg, #fdffff, rgba(253, 253, 255, 0.867));
     }

     .lba-icon {
       color: @lba-color-text;

       &:hover {
         color: @lba-icon-color;
       }
     }
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-image: @lba-background-image;
    
  }

  .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon+span,
  .ant-menu-dark .ant-menu-item-selected .anticon+span {
    color: @lba-color-text;
    font-weight: bold;
  }

  .lba-btn {
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    background-image: @lba-background-image;
    color: @lba-color-text;
    &:hover {
      border: 2px solid #ffbb55;
      color: #ffbb55;
      background-image:  linear-gradient(135deg, #fdffff, rgba(253, 253, 255, 0.867));
    }
    .lba-icon {
      color: @lba-color-text;

      &:hover {
        color: @lba-icon-color;
      }
    }
  }
  .lba-btn:hover .lba-icon {
    color: @lba-icon-color;
  }

  .lba-normal-btn {
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    background-image: @lba-normal-btn-background-image;
    color: @lba-color-text;
    
    &:hover, &:focus, &:active {
      box-sizing: border-box;
        font-weight: bold;
        position: relative;
        background: unset;
        background-image: @lba-normal-btn-background-image;
        color: @lba-color-text;
    }
    &.ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
        box-sizing: border-box;
        font-weight: bold;
        position: relative;
        background: unset;
        background-image: @lba-normal-btn-background-image;
        color: @lba-color-text;
    }
    .lba-icon {
      color: @lba-color-text;
    }
  }


  .lba-icon {
    color: @lba-icon-color;
  }
  .lba-close-icon {
    color:rgba(255, 0, 21, 0.867)
  }
  .image-lba-icon {
    &:hover {
      cursor: pointer;
    }
  }
  .ant-form-item-label>label {
    position: unset;
  }

  .ant-form-item-label>label {
    font-weight: bolder;
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-form-label-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ant-form-vertical .ant-form-item-label>label,
  .ant-col-24.ant-form-item-label>label,
  .ant-col-xl-24.ant-form-item-label>label
  .ant-col .ant-form-item-label,
  .ant-col .ant-form-item-label>label,
  .ant-form-item-required,
  .ant-modal-title,
  .ant-drawer-title {
    font-weight: bolder;
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-form-label-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }

  
  
  .anticon .anticon-upload {
    // color: #00cdac;
    color: @lba-color-text;
  }



  .lba-text {
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-background-image;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .lba-label {
    background-image: @lba-form-label-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .ant-switch-checked {
    background-image: @lba-background-image;
  }

  .ant-table-tbody>.ant-table-row-level-0>td {
    background: unset;
  }
  :global {
    .ant-table-tbody {
      transition: all 0.3s ease;
    }
    .ant-table-row, .ant-table-row-level-0 {
      transition: all 0.3s ease;  
    }
  }

  .ant-table-tbody>tr.ant-table-row-level-0:hover>td {
    background: unset;
  }
  
  .ant-table-tbody>.ant-table-row:hover, .ant-table-row-level-0:hover, tr:hover {
    transition: all 0.3s ease;
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-table-hover-background;
    // color: aliceblue;
    // color: rgb(0, 0, 0);
    color: @lba-color-text-hover;
    // font-weight: bold;
    position: relative;
    z-index: 2000;
  }

  .ant-table-thead>tr>th {
    background: unset;
    color: rgb(0, 0, 0);
    // color: #fff;
  }

  .ant-table-thead>tr {
    // background-image: linear-gradient(135deg, #02aab0, #00cdac);
    background-image: @lba-background-image;
    // color: #fff;
    // color: rgb(0, 0, 0);
    // color: @lba-color-text;
    position: relative;
    z-index: 2000;
  }
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
