

.rowClassName {
  margin: 2em 0;
  border-radius: 50px;
  border: 1px solid black;
}



.antCardBody {
  padding: 0;
  height: 50;
  align-content: 'center';
  vertical-align: 'middle';
  align-items: 'center';
}