

.rowClassName {
  margin: 2em 0;
  border-radius: 50px;
  border: 1px solid black;
}



.antCardBody {
  padding: 0;
  height: 50;
  align-content: 'center';
  vertical-align: 'middle';
  align-items: 'center';
}

.breadscrumb {

  :global {
    .breadcrumb-item {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      // &:active {
      //   text-decoration: underline;
      // }
    }

    .ant-breadcrumb {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      >span:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    
  }


}